.search {
    width: 73.6rem;
    height: 5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: -2rem;
    gap: 1rem;
}

.searchInput {
    width: 63.8rem;
    height: 5.4rem;
    background: #262626;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    padding: 2rem;
    color: #F2F2F2;
}

.searchButton {
    width: 9.0rem;
    height: 5.2rem;
    background: #1E6F9F;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #F2F2F2;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}


::placeholder {
    color: #808080;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
}